$minWidth: 320px;
$mainFontColor: #fff;
$minHeight: 90vh;
$backgroundColor: linear-gradient(
  50deg,
  rgba(254, 193, 130, 1) 20%,
  rgba(253, 160, 142, 1) 100%
);
$mainColor: rgb(253, 165, 140);
$fullWidth: 1200px;
$headerHeight: 80px;
$defaultWidth: 85vw;
$inputRadius: 3px;
$textColor: #fdfcfc;
