.animals-container-flex {
  width: 960px;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}
.animal-card {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 3fr 2fr;
  margin: 30px 0px;
  background-color: #efefef;
  height: 500px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.8s ease-in;
}
.animal-img-container {
  overflow: hidden;
  width: 600px;
  height: 350px;
}

.animal-img-container img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.animal-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 80%;
  height: 100%;
  margin: auto;
}

.animal-name {
  display: flex;
  justify-content: space-between;
}

.animal-name h3 {
  font-family: serif;
  font-size: 2em;
  text-transform: capitalize;
}

/* The speaker butto */
.animal-name button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  outline: none;
  border: none;
  background: #fff;
  font-size: 1.5em;
  border-radius: 50%;
  transition: all 0.4s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
}

.animal-name button:hover {
  background: rgb(240, 130, 58);
}

.learn-more {
  background: black;
  color: #fff;
  border: none;
  padding: 4px;
  cursor: pointer;
}
.learn-more:hover {
  transform: scale(1.1);
}
.animal-desc {
  grid-column: span 2;
  padding: 10px;
  display: flex;
  align-items: center;
}
.animal-desc p {
  line-height: 1.4em;
}

.load-more {
  background: rgb(254, 193, 130);
  color: white;
  padding: 5px;
  height: 40px;
  width: 150px;
  border: 1px solid white;
  outline: none;
  margin: 10px auto;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
}

.load-more:hover {
  background: rgb(253, 165, 140);
  transform: scale(1.05);
}

@media (max-width: 960px) {
  .animals-container-flex {
    width: 90%;
  }
  .animal-card {
    display: flex;
    flex-direction: column;
    margin: 30px 0px;
    background-color: #efefef;
    height: auto;
    overflow: hidden;
    border-radius: 5px;
  }
  .animal-img-container {
    width: 100%;
    height: 45vw;
    min-height: 200px;
  }
  .animal-info {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .animal-info h4 {
    font-size: 1rem;
    flex: 1 1 20%;
    text-align: center;
  }
  .animal-name {
    justify-content: space-around;
    flex: 1 1 100%;
  }
  .animal-name h3 {
    font-size: 1.5rem;
    padding: 3px;
  }
  .animal-name button {
    height: 30px;
    width: 30px;
  }
  .scroll-top {
    right: 0;
    bottom: 60px;
  }
  .learn-more {
    font-size: 1.5rem;
    padding: 12px;
    flex: 1 1 100%;
    margin: 5px;
  }
}

@media (max-width: 480px) {
  .animal-info h4 {
    font-size: 0.7rem;
  }
  .animal-name h3 {
    font-size: 1rem;
  }
}
