.animal-type-section {
  height: calc(100vh - var(--headerHeight));
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* Defines the top margin of the anchor sections  */
  scroll-margin-top: var(--headerHeight);
}

.animal-type-text {
  padding-top: 5vh;
  text-align: center;
}

.animal-type-text h1 {
  font-size: 2rem;
  text-transform: uppercase;
}

.animal-type-text p {
  font-size: 1rem;
  font-weight: 600;
}

.animal-type-btns-container {
  padding-bottom: 1vh;
}

.animal-type-btn-down.last-section {
  /* Leave the space, but hide the button */
  visibility: hidden;
}

.animal-type-btn-down {
  margin: 15px auto 0;
  animation: animateDown infinite 1.5s;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

@keyframes animateDown {
  0%,
  20%,
  80%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  30%,
  60% {
    tranform: translateY(3px);
  }
}
