.btns {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--primary {
  background-color: #fff;
  color: #242424;
  border: 1px solid #fff;
}

.btn--outline {
  background-color: transparent;
  color: var(--mainFontColor);
  padding: 8px 20px;
  border: 1px solid #fff;
  transition: all 0.3s ease-out;
}

.btn--danger {
  background-color: rgba(207, 14, 14, 0.8);
  color: #fff;
}

.btn--confirm {
  background-color: rgb(83, 240, 83);
  color: black;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
}
.btn--medium {
  padding: 8px 20px;
  font-size: 18px;
}

.btn--large {
  padding: 12px 26px;
  font-size: 20px;
}

.btn--large:hover,
.btn--medium:hover {
  transition: all 0.3s ease-out;
  background: #fff;
  color: #242424;
  transition: 250ms;
}

.btn--primary:hover {
  background-color: transparent;
  color: var(--mainFontColor);
}

.btn--danger:hover {
  background-color: rgba(248, 6, 6, 0.5);
}

.btn--confirm:hover {
  transform: scale(1.1);
  background-color: lightgreen;
}
