.btns {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--medium {
  padding: 8px 20px;
  font-size: 18px;
}

.btn--large {
  padding: 12px 26px;
  font-size: 20px;
}

.btn--primary {
  background-color: #fff;
  color: #242424;
  border: 1px solid #fff;
  font-weight: 700;
  width: 200px;
  margin: 5px;
}

.btn--outline {
  background-color: transparent;
  color: var(--mainFontColor);
  border: 1px solid #fff;
  transition: all 0.3s ease-out;
}

.btn--danger {
  background-color: rgba(207, 14, 14, 0.8);
  color: #fff;
  width: 200px;
  margin: 5px;
}

.btn--confirm {
  background-color: rgb(6 193 6);
  color: black;
  /* padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px; */
  width: 200px;
  margin: 5px;
}

.btn--scrollUp {
  display: none;
  position: fixed; /* Fixed/sticky position */
  bottom: 20px;
  right: 30px;
  z-index: 99; /* Make sure it does not overlap */
  border: 1px solid white;
  background-color: rgb(253, 165, 140);
  color: white;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

.btn--submit {
  width: 100%;
  background-color: #fff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
}

.btn--circle {
  border: 1px solid white;
  background-color: rgb(253, 165, 140);
  color: white;
  padding: 15px;
  border-radius: 50%;
  font-size: 18px;
  height: 50px;
}

.btn--circle:hover {
  transition: all 0.3s ease-out;
  transform: scale(1.1);
}
.btn--outline:hover {
  transition: all 0.3s ease-out;
  background: #fff;
  color: #242424;
}

.btn--primary:hover {
  background-color: transparent;
  color: var(--mainFontColor);
}

.btn--danger:hover {
  transform: scale(1.1);
  background-color: rgba(248, 6, 6, 0.5);
}

.btn--confirm:hover {
  transform: scale(1.1);
  background-color: lightgreen;
}

.btn--scrollUp:hover {
  background-color: rgb(255, 253, 253);
  color: #080710;
}

.btn--submit:hover {
  transform: scale(1.1);
  background-color: lightgreen;
}
