.footer-container {
  background: var(--backgroundColor);
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 320px;
}

.footer-logo > a {
  text-decoration: none;
  color: var(--mainFontColor);
  font-size: 1.5rem;
}

.footer-links {
  border-top: 1px solid white;
  padding-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.footer-nav-items {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.footer-nav-items > a {
  color: var(--mainFontColor);
  text-decoration: none;
}

.footer-btn {
  font-size: 1rem;
  transition: all 0.2s linear;
}
.footer-btn:hover {
  transform: scale(1.5);
}
/* social icon */
.social-icon-link {
  color: var(--mainFontColor);
  font-size: 1.5rem;
  transition: all 0.2s linear;
}

.social-icon-link:hover {
  transform: scale(1.5);
}

.social-media {
  max-width: 1000px;
  width: 100%;
}

.social-media-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 1rem auto 0 auto;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15rem;
}

.website-rights {
  color: var(--mainFontColor);
}

@media screen and (max-width: 720px) {
  .footer-container {
    padding: 1rem 0;
  }
  .footer-links {
    padding: 2rem 0 0 0;
  }
  .footer-nav-items {
    flex-direction: column;
    align-items: center;
    padding: 10px 2px;
  }
  .footer-input {
    width: 100%;
  }
  .btn {
    width: 100%;
  }
  .social-media-wrapper {
    flex-direction: column;
  }
}
