.sign-up,
.login {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: auto;
  min-width: 320px;
}
.sign-up-flex,
.login-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: var(--headerHeight);
  position: absolute;
}
.sign-up-error,
.login-error {
  background-color: rgba(235, 108, 108, 0.8);
  width: 400px;
  min-height: 30px;
  margin-bottom: 20px;
  text-align: center;
  position: absolute;
  top: 0px;
  z-index: 1;
}
.sign-up-form {
  height: 720px;
  width: clamp(320px, 50vw, 500px);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.13);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 25px 35px;
}
.login-form {
  height: 480px;
  width: clamp(320px, 50vw, 500px);
  background-color: rgba(255, 255, 255, 0.13);
  /* center the element vertically/horizontally */
  /*position: absolute;
   transform: translate(-50%, -50%);
  top: 50%;
  left: 50%; */
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 25px 35px;
}

.sign-up-form h3,
.login-form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.sign-up-form label,
.login-form label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
.sign-up-form input,
.login-form input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(34, 32, 32, 0.7);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

.sign-up-form ::placeholder,
.login-form ::placeholder {
  color: #b4aeae;
  opacity: 1; /* Firefox */
}

.btn-wrap {
  margin-top: 50px;
}

.sign-up .switch,
.login .switch {
  color: #fff;
  padding-top: 15px;
  margin: 5px auto;
  text-align: center;
}

.sign-up a,
.login a {
  text-decoration: none;
  color: aqua;
}

@media only screen and (min-width: 960px) {
  .sign-up-form,
  .login-form {
    width: 500px;
  }
}
