.navbar {
  background: var(--backgroundColor);
  height: var(--headerHeight);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  /* Keep in mind its parent element that might cause unexpected behavior
  use body as its parent! */
  position: sticky;
  top: 0;
  z-index: 100;
  min-width: 320px;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--headerHeight);
  max-width: 1500px;
}

.navbar-logo {
  color: var(--mainFontColor);
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.nav-menu {
  list-style: none;
  display: flex;
  width: 60vw;
  justify-content: space-around;
  align-items: center;
  padding-left: 4rem;
  text-align: center;
  margin-bottom: 0;
}

.nav-item {
  height: var(--headerHeight);
}

.nav-links {
  color: var(--mainFontColor);
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  cursor: pointer;
}

.nav-links-sign-up {
  color: var(--mainFontColor);
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  width: 105px;
  border: 2px solid #fff;
  cursor: pointer;
}

.nav-links:hover,
.nav-links-sign-up:hover {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: var(--mainFontColor);
}

.menu-icon {
  display: none;
}

/* When the screen is smaller than 960px, nav bar will enter the mobile mode */
@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* The height of the nav bar is 80px */
    height: calc(100vh - var(--headerHeight));
    position: absolute;
    align-items: stretch;
    /* leave the space for navbar */
    top: var(--headerHeight);
    /* when not active, hide to the left */
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    padding-left: 0;
  }

  .nav-menu.active {
    background: rgb(254, 193, 130);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
    font-size: 2rem;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    left: 0;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: var(--mainFontColor);
    font-size: 2rem;
  }

  .nav-links-sign-up {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 2rem;
    background-color: transparent;
    color: var(--mainFontColor);
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-sign-up:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }
}
