/* links */
.submenu {
  background: #fff;
  box-shadow: 5px 5px 5px black;
  position: fixed;
  top: 90px;
  /* left: 50%; */
  transform: translateX(-50%);
  z-index: 1;
  /* Hide the submenu by default */
  display: none;
  padding: 1rem;
  border-radius: 12px;
}

.submenu::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}
/* When mouse over the related menu, add show class to the submenu to display */
.submenu.show {
  display: block;
}

.submenu-center {
  display: grid;
  gap: 0.25rem 2rem;
}

.col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.submenu h4 {
  margin-bottom: 1.5rem;
}
.submenu-center a {
  width: 10rem;
  display: block;
  color: var(--clr-grey-1);
  text-transform: capitalize;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.submenu-center svg {
  color: var(--clr-grey-5);
  margin-right: 1rem;
}

/* When the screen is smaller than 960px, submenu will enter the mobile mode */
@media screen and (max-width: 960px) {
  .submenu {
    background: #fff;
    box-shadow: 5px 5px 5px black;
    top: 0;
    left: 0;
    z-index: 300;
    width: 100%;
    transform: translateX(0);
    /* Hide the submenu by default */
    display: none;
    padding: 0;
    border-radius: 12px;
  }

  .submenu h4 {
    margin-bottom: 0;
    font-size: 1.5rem;
  }
  .submenu-center {
    display: flex;
    flex-direction: column;
  }

  .submenu-center a {
    width: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 5px;
  }
  .submenu-center a:hover {
    background-color: rgb(254, 193, 130);
  }
}
