:root {
  --backgroundColor: linear-gradient(
    50deg,
    rgba(254, 193, 130, 1) 20%,
    rgba(253, 160, 142, 1) 100%
  );
  --mainColor: rgb(253, 165, 140);
  --mainFontColor: #fff;
  --headerHeight: 80px;
  --fullWidth: 1200px;
  --minWidth: 320px;
  --defaultWidth: 85vw;
}

/* 
====== 
Global Styles 
======
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  overflow-x: hidden;
  font-family: 'Nunito Sans', sans-serif;
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 300;
}

img {
  width: 100%;
  height: 100%;
}

/* Styles for the pages */
.home,
.animals,
.single-animal {
  min-width: var(--minWidth);
}
.products,
.login,
.sign-up,
.update-profile,
.error,
.contact,
.about-us,
.terms-of-use {
  display: flex;
  min-height: 90vh;
  align-items: center;
  justify-content: center;
  min-width: var(--minWidth);
}

.about-us,
.products {
  background-image: url(./backgroundImages/africa.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--mainFontColor);
}
.contact {
  background-image: url(./backgroundImages/forest.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--mainFontColor);
}
.contact {
  flex-direction: column;
  font-size: 30px;
  padding: 20px 0;
}

.login,
.sign-up {
  background-image: linear-gradient(rgba(92, 93, 96, 24%), rgba(0, 0, 0, 100%)),
    url(./backgroundImages/signUp.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--mainFontColor);
}

.update-profile {
  background-image: linear-gradient(rgba(92, 93, 96, 24%), rgba(0, 0, 0, 100%)),
    url(./backgroundImages/africa.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--mainFontColor);
}

/* 
====== 
Terms of use
======
*/
.terms-of-use-container {
  background: rgba(0, 0, 0, 0.7) url(./backgroundImages/owl-wallpaper.jpg);
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--mainFontColor);
  min-height: 90vh;
}
.terms-of-use {
  max-width: 800px;
  flex-direction: column;
  flex: 1;
  align-items: center;
  padding: 10px 20px;
  margin: 0 auto;
  margin-left: 30%;
}
.terms-of-use h2 {
  text-align: center;
  padding: 20px 0;
}
.terms-of-use h3 {
  padding: 15px 0;
}
.terms-of-use p {
  font-size: 15px;
  line-height: 2;
  padding: 5px 0;
}

/* 
====== 
Thank You page
======
*/

.thank-you {
  min-height: 90vh;
  background-image: url(./backgroundImages/thankYou.jpg);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--mainFontColor);
  flex-direction: column;
}

.thank-you-container {
  position: relative;
  top: 20vh;
  width: 30vw;
  height: 50vh;
  margin-left: 10vw;
  padding: 20px 10px;
  border: 2px solid white;
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
.thank-you h1 {
  font-family: serif;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 2px;
}

/* 
====== 
FAQ page
======
*/
.faq {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  align-items: center;
}

.faq h1 {
  padding: 30px 10px;
  text-align: center;
}
.faq-img-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 200px;
  overflow: hidden;
}

.faq-img-container img {
  height: 100%;
  object-fit: cover;
}

/* 
====== 
Error page
======
*/
.error {
  background-image: url(./backgroundImages/error.jpg);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--mainFontColor);
  flex-direction: column;
  /* align-items: flex-start; */
  position: relative;
  left: 0;
}

.error h1 {
  font-size: 13rem;
}

.error p {
  padding: 10px;
}

.dashboard {
  min-height: 90vh;
  background-image: url(./backgroundImages/cat-background.jpg);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: auto;
}

/* 
====== 
Single Animal page
======
*/

.animal-section {
  text-align: center;
  background-image: url(./backgroundImages/white-background.jpg);
  padding-bottom: 50px;
}

.animal-section-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: var(--defaultWidth);
  max-width: var(--fullWidth);
  min-width: 320px;
  margin: 0 auto;
}
.animal-section-header h2 {
  font-weight: 700;
  text-transform: capitalize;
}
.animal-container {
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-column-gap: 10px;
  align-items: center;
  width: var(--defaultWidth);
  max-width: var(--fullWidth);
  min-width: 320px;
  margin: 0 auto;
  text-align: left;
  border-radius: 5px;
  overflow: hidden;
  background-color: #efefef;
}
.animal-info-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.animal-info-container p {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  text-transform: capitalize;
  line-height: 1.8;
  padding: 20px;
  width: 300px;
}
.animal-info-container .animal-data {
  margin-right: 0.5rem;
  text-align: right;
}
.animal-data-title {
  background: var(--mainColor);
  padding: 0.25rem 0.5rem;
  border-radius: 10px;
  color: var(--mainFontColor);
  text-align: left;
}
.animal-desc {
  grid-column: span 2;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.8;
}
.animal-desc p {
  padding: 10px;
}

@media only screen and (max-width: 1200px) {
  .terms-of-use {
    margin-left: 45%;
    margin-right: 20px;
  }

  .faq-img-container {
    width: 200px;
    height: 200px;
  }
  .dashboard {
    background-image: url(./backgroundImages/white-background.jpg);
  }
  .animal-container {
    display: flex;
    flex-direction: column;
    max-height: fit-content;
  }
  .animal-info-container {
    padding-top: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

@media only screen and (max-width: 768px) {
  .error h1 {
    font-size: 3rem;
  }
  .terms-of-use {
    backdrop-filter: blur(20px);
    margin: 0;
  }
  .thank-you {
    background-position: left;
  }
  .thank-you-container {
    width: 80%;
  }
  .faq-img-container {
    width: 150px;
    height: 150px;
  }
  .animal-info-container {
    padding-top: 0;
    width: 80%;
    flex-direction: column;
    align-items: center;
  }
  .animal-info-container p {
    width: 100%;
  }
}
