:root {
  --backgroundColor: linear-gradient(
    50deg,
    rgba(254, 193, 130, 1) 20%,
    rgba(253, 160, 142, 1) 100%
  );
  --mainFontColor: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
}

body {
  width: 100%;
}

.home,
.services,
.products,
.login,
.sign-up,
.dashboard,
.update-profile,
.error,
.contact,
.about-us,
.faq,
.terms-of-use {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
}

.services,
.contact,
.faq,
.about-us,
.terms-of-use {
  background-image: url(./backgroundImages/forest.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--mainFontColor);
  font-size: 100px;
}

.products {
  background-image: url(./backgroundImages/africa.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--mainFontColor);
  font-size: 100px;
}

.login,
.sign-up {
  background-image: linear-gradient(rgba(92, 93, 96, 24%), rgba(0, 0, 0, 100%)),
    url(./backgroundImages/signUp.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--mainFontColor);
}

.update-profile {
  background-image: linear-gradient(rgba(92, 93, 96, 24%), rgba(0, 0, 0, 100%)),
    url(./backgroundImages/africa.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--mainFontColor);
}

.animals .scroll-top {
  display: none;
  position: fixed; /* Fixed/sticky position */
  bottom: 20px;
  right: 30px;
  z-index: 99; /* Make sure it does not overlap */
  border: 1px solid white;
  outline: none;
  background-color: rgb(253, 165, 140);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

.animals .scroll-top:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

.error {
  background-image: url(./backgroundImages/error.jpg);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--mainFontColor);
  flex-direction: column;
  /* align-items: flex-start; */
  position: relative;
  left: 0;
}

.error h1 {
  font-size: 13rem;
}

.error p {
  padding: 10px;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}
