:root {
  --backgroundColor: linear-gradient(
    50deg,
    rgba(254, 193, 130, 1) 20%,
    rgba(253, 160, 142, 1) 100%
  );
  --mainFontColor: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
}

.home,
.services,
.products,
.login,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
}

.services {
  background-image: url(./backgroundImages/forest.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--mainFontColor);
  font-size: 100px;
}

.products {
  background-image: url(./backgroundImages/africa.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--mainFontColor);
  font-size: 100px;
}

.login,
.sign-up {
  background-image: linear-gradient(rgba(92, 93, 96, 24%), rgba(0, 0, 0, 100%)),
    url(./backgroundImages/signUp.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--mainFontColor);
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 4rem;
  }
}
