:root {
  --backgroundColor: linear-gradient(
    50deg,
    rgba(254, 193, 130, 1) 20%,
    rgba(253, 160, 142, 1) 100%
  );
  --mainFontColor: #fff;
  --headerHeight: 80px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
}

body {
  width: 100%;
  overflow-x: hidden;
}

.home,
.animals {
  min-width: 320px;
}
.services,
.products,
.login,
.sign-up,
.dashboard,
.update-profile,
.error,
.contact,
.about-us,
.faq,
.terms-of-use {
  display: flex;
  min-height: 90vh;
  align-items: center;
  justify-content: center;
  min-width: 320px;
}

.services,
.contact,
.faq,
.about-us {
  background-image: url(./backgroundImages/forest.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--mainFontColor);
}

.contact {
  flex-direction: column;
  font-size: 30px;
  padding: 20px 0;
}

.products {
  background-image: url(./backgroundImages/africa.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--mainFontColor);
}

.login,
.sign-up {
  background-image: linear-gradient(rgba(92, 93, 96, 24%), rgba(0, 0, 0, 100%)),
    url(./backgroundImages/signUp.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--mainFontColor);
}

.update-profile {
  background-image: linear-gradient(rgba(92, 93, 96, 24%), rgba(0, 0, 0, 100%)),
    url(./backgroundImages/africa.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--mainFontColor);
}

.terms-of-use-container {
  background: rgba(0, 0, 0, 0.7) url(./backgroundImages/owl-wallpaper.jpg);
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-blend-mode: darken; */
  color: var(--mainFontColor);
  height: 90vh;
  overflow-y: scroll;
}
.terms-of-use {
  max-width: 700px;
  flex-direction: column;
  flex: 1;
  align-items: center;
  padding: 10px 20px;
  margin: 0 auto;
}
.terms-of-use h2 {
  text-align: center;
  padding: 20px 0;
}
.terms-of-use h3 {
  padding: 15px 0;
}
.terms-of-use p {
  padding: 5px 0;
}
.error {
  background-image: url(./backgroundImages/error.jpg);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--mainFontColor);
  flex-direction: column;
  /* align-items: flex-start; */
  position: relative;
  left: 0;
}

.error h1 {
  font-size: 13rem;
}

.error p {
  padding: 10px;
}

@media only screen and (max-width: 1200px) {
  .terms-of-use {
    margin-left: 30%;
  }
}

@media only screen and (max-width: 768px) {
  .error h1 {
    font-size: 3rem;
  }
  .terms-of-use {
    backdrop-filter: blur(20px);
    margin-left: 0;
  }
}
